<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.commentator %> : </td>
        <td><%= comment.body %></td>
        <td><%= comment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_for Comment.new, remote: true do |f| %>
  <div class="field">
    <%= f.label :commentator %><br>
    <%= f.text_field :commentator %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

